/* ------------------------------ */
/* ----------- Header ----------- */
/* ------------------------------ */
h1 p:nth-child(1),
h1 p:nth-child(2),
.about-me-info,
.skills div div {
  animation-delay: 1s;
  animation-duration: 1.4s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
}

h1 p:nth-child(1) {
  animation-name: moveInLeft;
}

h1 p:nth-child(2) {
  animation-name: moveInRight;
}

.view-work div {
  animation-name: moveDown;
  animation-delay: 2s;
  animation-duration: 0.7s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
}

.view-work:hover {
  cursor: pointer;
  text-decoration: none;
  color: #ff4d5a;
  transform: scale(1.1);
}

.view-work:hover div {
  transform: translateY(-1px);
}

.view-work div::before,
.view-work div::after {
  border: 1px solid #ff4d5a;
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 210px;
  height: 2.5rem;
}

.view-work div:hover::before,
.view-work div:hover::after {
  border-color: transparent;
  border-radius: 3px;
  filter: blur(2px);
  transform: scaleX(1.4) scaleY(2.3);
  transition: 800ms transform ease, 1900ms blur ease, 700ms border-color ease;
  pointer-events: none;
}

.view-work div:hover::after {
  transition-delay: 0.15s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(4em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ------------------------------ */
/* ------------ About ----------- */
/* ------------------------------ */
.skills-item, .about-me-info {
  opacity: 0;
}

.about-me-info-ani {
  opacity: 1;
  animation-name: moveInLeft;
}

.skills-item-ani {
  opacity: 1;
  animation-duration: 3s;
  animation-name: skills;
  animation-fill-mode: forwards;
}

.skills-row:nth-child(1) .skills-item:nth-child(1) {
  animation-delay: 2.2s;
}

.skills-row:nth-child(1) .skills-item:nth-child(2) {
  animation-delay: 2.6s;
}

.skills-row:nth-child(1) .skills-item:nth-child(3) {
  animation-delay: 3s;
}

.skills-row:nth-child(2) .skills-item:nth-child(1) {
  animation-delay: 2.3s;
}

.skills-row:nth-child(2) .skills-item:nth-child(2) {
  animation-delay: 2.7s;
}

.skills-row:nth-child(2) .skills-item:nth-child(3) {
  animation-delay: 3.1s;
}

.skills-row:nth-child(2) .skills-item:nth-child(4) {
  animation-delay: 2.5s;
}

.skills-row:nth-child(3) .skills-item:nth-child(1) {
  animation-delay: 2.8s;
}

.skills-row:nth-child(3) .skills-item:nth-child(2) {
  animation-delay: 2.4s;
}

.skills-row:nth-child(3) .skills-item:nth-child(3) {
  animation-delay: 2.9s;
}

@keyframes skills {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ------------------------------ */
/* --------- Scroll Bar --------- */
/* ------------------------------ */
html, body {
  scrollbar-color: transparent transparent;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
}

#scrollPath,
#progressBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  z-index: 4;
}

#scrollPath {
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressBar {
  background: linear-gradient(to top, #008aff, #00ffe7);
}

#progressBar:before,
#progressBar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

#progressBar:after {
  filter: blur(30px);
}

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #1a1a1a;
  position: relative;
  z-index: -1;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

/* ------------------------------ */
/* ----------- Header ----------- */
/* ------------------------------ */
header {
  text-align: center;
}

h1 p {
  font-size: 4rem;
  margin: 50px;
}

h1 p span,
.view-work,
.name {
  color: #ff4d5a;
}

.view-work div {
  position: absolute;
  z-index: 1;
}

.view-work div {
  position: relative;
  display: inline-block;
  border: 2px solid #ff4d5a;
  font-size: 1.5rem;
  width: 200px;
  margin: 20px;
  padding: 5px;
}

/* ------------------------------ */
/* ----------- Nav Bar ---------- */
/* ------------------------------ */
ul {
  margin-top: 0;
}

li, li a {
  padding: 15px;
  line-height: 25px;
  margin-right: 10px;
  font-size: 1.5rem;
}

.navmenu {
  justify-content: space-between;
  list-style-type: none;
  background-color: #282828;
  padding-right: 50px;
}

#nav-bar {
  background-color: lightgray;
  position: sticky;
  top: 0;
  z-index: 3;
}

a, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}

.name-ani {
  color: #ff4d5a;
}

.name-ani:hover {
  color: #ff4d5a;
  cursor: pointer;
}

.nav-ani a {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 50px;
}

.nav-ani a:before {
  transition: all 0.5s ease-out;
  display: block;
  content: "";
  width: 200%;
  height: 100%;
  background: linear-gradient(transparent, white, transparent);
  transform: rotate(-30deg);
  position: absolute;
  top: -200%;
  left: -50%;
  opacity: 0.7;
}

.nav-ani a:hover:before {
  top: 200%;
}

/* ------------------------------ */
/* ---------- About Me ---------- */
/* ------------------------------ */
.about-me-cont {
  min-height: 100vh;
}

.column {
  flex-flow: column;
}

.container {
  justify-content: space-around;
}

.heading {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding-top: 100px;
}

.about-content {
  width: 95%;
  min-height: 600px;
  justify-content: space-evenly;
}

.about-me-info,
.skills {
  margin: 40px;
  max-width: 500px;
  font-size: 1.5em;
}

.skills {
  text-align: center;
  gap: 50px;
}

.skills-item {
  padding: 1px;
  margin: 20px 0;
  font-size: 0.8em;
  height: 120px;
  width: 160px;
  border: double 2px transparent;
  background-image: linear-gradient(#1a1a1a, #1a1a1a), radial-gradient(circle at top left, #51a2e9, #ff4d5a);
  border-radius: 10px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.skills-logo {
  max-height: 70px;
  max-width: 90%;
  height: auto;
  padding: 10px 0 5px 0;
}

/* ------------------------------ */
/* ---------- Projects ---------- */
/* ------------------------------ */
h2:before {
  content: "";
  border-bottom: 20px solid #ff4d5a;
  display: block;
  position: relative;
  left: 25px;
  top: 75px;
  z-index: -1;
}

.project-cont {
  min-height: 100vh;
  justify-content: center;
}

.project-inner-cont {
  height: 800px;
  padding: 0 20px;
}

.imageContainer {
  background-color: #3216bb;
  box-shadow: 50px 0 #3216bb;
  padding: 50px 50px 50px 0;
  max-height: 1000px;
  max-width: 1000px;
  transition: 0.5s;
}

.project-pic {
  transition: 0.5s;
}

.imageContainer:hover .project-pic {
  transform: scale(0.9);
}

.project-info {
  padding: 20px;
  width: 500px;
  height: 400px;
}

.project-info p:nth-child(1) {
  margin: 0;
  font-size: 3rem;
  text-align: center;
}

.project-info p:nth-child(2) {
  font-size: 1rem;
  padding: 20px;
}

.project-links {
  display: block;
  font-size: 1.5rem;
  text-decoration: underline #ff4d5a;
  text-transform: uppercase;
  line-height: 50px;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}

.dir-reversed {
  flex-direction: row-reverse;
}

.bg-reversed {
  box-shadow: -50px 0 #3216bb;
  padding: 50px 0 50px 50px;
}

.info-reversed {
  text-align: right;
}

.carousel-cont {
  position: relative;
  max-height: 650px;
  max-width: 1000px;
}

.carousel-cont .project-pic {
  position: absolute;
}

.op0 {
  opacity: 0;
}

.top, .mid {
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
}

.mid {
  animation-delay: 6s;
}

@keyframes fade {
  0%, 33% {
    opacity: 1;
  }
  40%, 75%, 100% {
    opacity: 0;
  }
}
/* ------------------------------ */
/* ----------- Footer ----------- */
/* ------------------------------ */
.footer {
  height: 100px;
  background-color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footerCont {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.footerButtons {
  height: 100px;
}

.card {
  display: inline-block;
  width: 100px;
}

.card a {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  background: #1a1a1a;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
  line-height: 60px;
  padding: 0 15px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.card a:hover {
  color: #282828;
}

.card a:hover:before {
  left: 0;
  right: auto;
  width: 100%;
}

.card a:before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: white;
  transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
  border-radius: 8px;
}

@media (max-width: 1200px) {
  .about-content {
    flex-direction: column;
  }

  .project-cont {
    margin-bottom: 150px;
  }

  .project-inner-cont {
    flex-direction: column-reverse;
  }

  .imageContainer {
    box-shadow: 50px 0 #3216bb;
    padding: 10px 10px 10px 0;
  }

  .bg-reversed {
    box-shadow: -50px 0 #3216bb;
  }

  .project-info, .info-reversed {
    text-align: center;
  }

  .project-info p:nth-child(1) {
    font-size: 2rem;
  }

  .project-info p:nth-child(2) {
    font-size: 1rem;
  }

  .project-links {
    font-size: 1.25rem;
    line-height: 30px;
  }

  .heading {
    padding-bottom: 30px;
  }
}
@media (max-width: 992px) {
  h1 p {
    font-size: 3rem;
  }

  li, li a {
    font-size: 1.25rem;
    padding: 15px 5px;
  }

  .project-cont {
    margin-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .navmenu {
    padding: 0;
  }

  .heading {
    font-size: 3rem;
  }

  li a {
    margin: 0;
    width: 80px;
    text-align: center;
  }

  .name-ani {
    width: 120px;
  }

  .project-cont {
    margin-bottom: 50px;
  }

  .footerButtons {
    width: 500px;
    min-width: 350px;
  }

  .skills-item {
    width: 120px;
  }
}
@media (max-width: 576px) {
  h1 p {
    font-size: 2.5rem;
  }

  .heading {
    font-size: 2.5rem;
  }

  .navmenu {
    justify-content: center;
  }

  li a {
    width: 60px;
    font-size: 1rem;
  }

  .my-name {
    display: none;
  }

  .nav-buttons {
    min-width: 250px;
  }

  .project-info {
    width: 300px;
  }

  .footerButtons {
    height: 80px;
    min-width: 250px;
  }

  .card a {
    width: 50px;
    height: 50px;
  }

  .about-me-info {
    font-size: 1rem;
  }

  .skills {
    gap: 10px;
    font-size: 1rem;
  }

  .skills-item {
    width: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
